<header id="content-header">
  <h1>Registration for <%= link_to @event.name, @event %></h1>
</header>
<%= form_for([@event, @registration]) do |f| %>
  <%= render "shared/errors", object: @registration %>
  <fieldset>
    <ol>
      
      <li class="required">
        <%= f.label :how_heard %>
        <%= f.select :how_heard,
                     Registration::HOW_HEARD_OPTIONS,
                     prompt: "Pick one" %>
      </li>
    </ol>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", events_path, class: "button" %>
    </p>
  </fieldset>
<% end %>