<h1>Add New Event</h1>

<%= form_for(@event) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 30, rows: 7 %><br>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %><br>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %><br>
  </p>

  <p>
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at %><br>
  </p>

  <p>
    <%= f.submit%>
  </p>

<% end %>