<!DOCTYPE html>
<html>
  <head>
    <title>Events2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <div id="wrapper">

    <% if flash[:notice] %>
      <p class="flash notice">
        <%= flash[:notice] %>
      </p>
    <% end %>

    <div id="container">
      <%= render "layouts/sidebar" %>
      <section id="content">
        <%= yield %>
      </section>
    </div>

   </div>

  <%= render 'layouts/footer' %>
  </body>
</html>
